
/* ******************************
:: 1.0 COMMON CSS
****************************** */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ptb_180 {
        padding: 130px 0;
    }

    .ptb_150 {
        padding: 100px 0;
    }

    .ptb_100 {
        padding: 70px 0;
    }
}

@media (max-width: 767px) {

    .ptb_180 {
        padding: 130px 0;
    }

    .ptb_150,
    .ptb_100 {
        padding: 50px 0;
    }
}

@media (max-width: 575px) {

    .container-fluid {
        padding: 0 3%;
    }

    .ptb_180 {
        padding: 80px 0;
    }
}

/*SECTION HEADING*/
@media (max-width: 991px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 36px;
    }

    .section-heading {
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.8em;
    }

    h2 {
        font-size: 30px;
        line-height: 1.4;
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 2em;
        line-height: 1.4;
    }

    h2 {
        font-size: 24px;
        line-height: 1.4;
    }

    h3 {
        font-size: 18px;
        line-height: 1.4;
    }

    p {
        line-height: 26px;
    }

    .headings > h2,
    .section-heading > h2 {
        line-height: 1.5;
    }
}


/* ******************************
:: 2.0 HEADER AREA CSS
****************************** */
@media (min-width: 992px) {
    .navbar .navbar-nav .nav-link {
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }

    .navbar-sticky-on .navbar-nav .nav-link {
        padding-top: 1.625rem;
        padding-bottom: 1.625rem;
    }
}

@media (max-width: 991px) {
    .main:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background: rgba(0,0,0,.8);
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .3s;
        transition: .3s;
    }

    [data-theme=dark] .main:before {
        background: #01081f;
    }

    .canvas-open {
        overflow: hidden;
    }

    .canvas-open .main:before {
        width: 100%;
        opacity: .95;
        visibility: visible;
    }

    .navbar {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    }

    .navbar.active {
        display: block;
    }

    .navbar.active .navbar-inner {
        right: 0;
    }

    .navbar .navbar-inner {
        right: -100%;
        -webkit-transition: right 0.3s 0.2s;
        transition: right 0.3s 0.2s;
    }

    .navbar .nav-link {
        border-bottom: 1px solid #eee;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    [data-theme=dark] .navbar .nav-link {
        border-bottom: 1px solid #1E2745;
    }

    .navbar.navbar-dark .nav-link {
        color: #54565a;
    }

    [data-theme=dark] .navbar.navbar-dark .nav-link {
        color: #f6f8f9;
    }

    .navbar.navbar-dark .nav-link:hover,
    .navbar.navbar-dark .nav-link:focus,
    .navbar.navbar-dark .nav-link.active,
    .navbar.navbar-dark .nav-link.current-menu-item {
        color: #2c2e30;
    }

    [data-theme=dark] .navbar.navbar-dark .nav-link {
        color: #e7eaee;
    }

    [data-theme=dark] .navbar.navbar-dark .nav-link:hover {
        background: #01081f;
    }

    .navbar-inner {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 20rem;
        padding-top: 2.5rem;
        background-color: #fff;
        -webkit-box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.15);
        border-radius: 0;
        overflow-y: auto;
        z-index: 1050;
    }

    [data-theme=dark] .navbar-inner {
        background: #151c32;
    }

    .navbar-inner .dropdown-menu:before {
        content: none;
    }

    .navbar-inner .dropdown-menu {
        border: medium none;
        background: none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        float: none;
        margin: 0;
        padding-top: 0;
        position: static;
    }

    [data-theme=dark] .navbar-inner .dropdown-menu .dropdown-item {
        color: #f6f8f9;
    }

    [data-theme=dark] .navbar-inner .dropdown-menu .dropdown-item:hover {
        background: #01081f;
    }

    .nav-open .main-wrapper {
        -webkit-transform: translate3d(-150px, 0, 0);
        transform: translate3d(-150px, 0, 0);
    }

    /*MOBILE NAVBAR TOGGLER*/
    .navbar-toggler {
        position: absolute !important;
        top: auto;
        right: 0;
        bottom: auto;
        left: auto;
        border: none;
        height: 100%;
        width: 3.75rem;
        background-image: none;
        border-radius: 0;
        z-index: 1;
        display: inline-block;
    }

    .navbar-inner .navbar-toggler {
        position: absolute;
        height: 2.5rem;
        top: 0;
    }

    .navbar-toggler-icon {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background-image: none !important;
    }

    .navbar-toggler-icon,
    .navbar-toggler-icon:before,
    .navbar-toggler-icon:after {
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .navbar-toggler-icon {
        height: 3px;
        width: 50%;
        background: #7e8085;
        display: inline-block;
    }

    .navbar-dark .navbar-toggler-icon {
        background: #fff;
    }

    .navbar-sticky-on .navbar-toggler-icon{
        background: #7e8085;
    }

    .navbar-dark .navbar-toggler-icon.active:before,
    .navbar-dark .navbar-toggler-icon.active:after {
        background: #7e8085;
    }

    .navbar-toggler-icon:before,
    .navbar-toggler-icon:after {
        content: "";
        background: #7e8085;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .navbar-dark .navbar-toggler-icon:before,
    .navbar-dark .navbar-toggler-icon:after {
        background: #fff;
    }

    .navbar-sticky-on .navbar-toggler-icon:before,
    .navbar-sticky-on .navbar-toggler-icon:after {
        background: #7e8085;
    }

    .navbar-toggler-icon::before {
        top: -0.625rem;
    }

    .navbar-toggler-icon::after {
        top: 0.625rem;
    }

    .navbar-toggler-icon.active {
        background-color: transparent;
        -webkit-transform: scale(0.85) rotate(270deg);
        transform: scale(0.85) rotate(270deg);
    }

    .navbar-toggler-icon.active:before {
        top: 0;
        -webkit-transform: scale(0.65) rotate(45deg);
        transform: scale(0.65) rotate(45deg);
    }

    .navbar-toggler-icon.active:after {
        top: 0;
        -webkit-transform: scale(0.65) rotate(-45deg);
        transform: scale(0.65) rotate(-45deg);
    }
}

@media (max-width: 767px) {
    .homepage-1 .navbar-dark .navbar-toggler-icon {
        background: #7e8085;
    }
    .homepage-1 .navbar-dark .navbar-toggler-icon:before,
    .homepage-1 .navbar-dark .navbar-toggler-icon:after {
        background: #7e8085;
    }
    .homepage-1 .navbar-dark .navbar-toggler-icon.active {
        background-color: transparent;
    }
}

/* ******************************
:: 00 ALL AREA CSS
****************************** */
@media (min-width: 1200px){
    .container {
        max-width: 1255px;
    }
}

@media(max-width: 1200px){
    .speed-head h1::after{
        width: 55%;
    }
    .slow-speed .speed-head h1::before{
        width: 220%;
    }
}

@media(max-width: 991px){
    .homepage-1 .navbar-dark .navbar-toggler-icon{
        background: #7e8085;
    }
    .homepage-1 .navbar-dark .navbar-toggler-icon.active{
        background-color: transparent;
    }
    .navbar-inner{
        background-color: rgba(0, 0, 0, 0.88);
    }
    .homepage-1 .navbar-dark .navbar-toggler-icon::before, 
    .homepage-1 .navbar-dark .navbar-toggler-icon::after{
        background: #7e8085;
    }
    .navbar.navbar-dark .navbar-nav .nav-link.nav-btn{
        display: none !important;
    }
    .navbar-nav::before{
        border-bottom: none;
    }
    .navbar.navbar-dark .navbar-nav .nav-link.first-child{
        padding-left: 1.25rem !important;
    }
    .playbtn-banner a{
        top: 10%;
    }
    .m5-bikes {
        margin-top: -200px;
    }
    .se-img .img{
        margin-bottom: 20px;
    }
    .venice-area .head h1{
        font-size: 200px;
    }
    .venice-inner{
        margin-top: 320px;
    }
    .venice-inner .v-img{
        top: 150px;
    }
    .speed-head h1::after{
        width: 48%;
    }
    .slow-speed .speed-head h1::before {
        width: 105%;
    }
    .about-banner{
        height: auto;
    }
    .about-b-text {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .about-b-text h1{
        font-size: 30px;
        max-width: 500px;
    }
    .about-p-img {
        padding-top: 0;
        padding-left: 0;
    }
    .right-side-bg{
        display: none;
    }
    .about-p-img{
        margin-bottom: 0px;
    }
    .shop-img{
        width: 100%;
    }
    .shop-img .playbtn-banner a{
        top: 50%;
    }
    .shop-text{
        padding: 100px;
    }
    .pro-box{
        margin-bottom: 35px;
        padding: 20px 15px;
    }
    .ads-area{
        margin-bottom: 90px;
    }
    .ft-adress{
        margin-bottom: 50px;
    }
    .ft-contact {
        padding-left: 0;
    }
    .contact-nav {
        padding-top: 50px;
        flex-direction: column;
    }
    .div-content{
        padding-bottom: 100px;
    }
    .div-form{
        padding-bottom: 100px;
    }
}

@media(max-width: 767px){
    .banner-details{
        display: none;
    }
    form{
        flex-wrap: wrap;
    }
    form .form-group {
        flex: 0 0 49%;
    }
    .form-group{
        margin-bottom: 1.5rem;
    }
    .d-block-767{
        display: block !important;
    }
    .exp-area{
        flex-direction: column;
        padding: 70px 20px;
    }
    .exp-area .exp-img{
        background-image: none;
    }
    .exp-area .exp-img img{
        height: 600px;
        margin: 0 auto;
    }
    .exp-area .exp-content{
        padding-left: 40px;
        padding-top: 0;
        margin-bottom: 30px;
    }
    .venice-area .head h1 {
        font-size: 165px;
    }
    .speed-head h1::after{
        display: none;
    }
    .slow-speed .speed-head h1::before{
        display: none;
    }
    .div-form{
        padding-left: 120px;
    }
}

@media(max-width: 575px){
    .banner-title h1{
        font-size: 45px;
    }
    .banner-img{
        height: 100vh;
    }
    .welcome-slider .owl-dots{
        top: -100px;
        left: 0;
    }
    .banner-title h2{
        margin-bottom: 0;
    }
    form .form-group{
        flex: 0 0 100%;
    }
    form .form-group .btn-form{
        margin-left: 0;
        margin-top: 20px;
    }
    .exp-area{
        padding: 50px 15px;
    }
    .exp-area .exp-content{
        padding-left: 0;
    }
    .exp-content h1{
        font-size: 40px;
    }
    .exp-content p{
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
    }
    .exp-area .exp-img img{
        height: auto;
    }
    .m5-area{
        padding-top: 40px;
    }
    .m5-box h1{
        font-size: 140px;
    }
    .m5-bikes{
        margin-top: -123px;
    }
    .fighter-area{
        margin-top: -74px;
        padding-top: 100px;
    }
    .se-img h1{
        font-size: 200px;
        margin-left: 0;
    }
    .se-text h1{
        font-size: 42px;
        margin-bottom: 25px;
    }
    .venice-inner .v-img{
        top: 75px;
    }
    .venice-area .head h1{
        font-size: 90px;
    }
    .venice-inner {
        margin-top: 230px;
    }
    .speed-head h1{
        font-size: 20px;
        margin-bottom: 27px;
    }
    .speed-slider .owl-nav{
        top: -54px;
        right: 35px;
    }
    .model-details {
        padding: 18px 0 10px 35px;
    }
    .high-speed {
        padding: 70px 0 20px;
    }
    .slow-speed {
        padding-top: 0;
    }
    .speed-slider2 .owl-nav{
        left: 30px;
    }
    .feature-inner h1{
        font-size: 35px;
        line-height: 50px;
    }
    .map-area iframe{
        height: 400px;
    }
    .contact-box {
        padding: 70px 15px;
    }
    .speed-slider .item .item-inner{
        padding: 12px 50px 10px 50px;
    }
    .about-b-text h1{
        font-size: 26px;
    }
    .vision-box,
    .mision-box{
        padding: 30px 40px 40px;
    }
    .shop-img{
        height: 300px;
    }
    .shop-text {
        padding: 60px;
    }
    .shop-text h1{
        font-size: 29px;
        line-height: 45px;
    }
    .about-b-text p{
        font-size: 18px;
    }
    .about-p-img img{
        width: auto;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .about-p-img{
        width: 320px;
        height: 320px;
    }
    .contact-page{
        padding-top: 125px;
    }
    .ads-area h5{
        margin-bottom: 28px;
    }
    .ads-area h1{
        font-size: 32px;
    }
    .ads-details .ads-bx .icon{
        flex: 0 0 14%;
    }
    #toggle_menu{
        width: 50px;
        padding-left: 20px;
    }
    .div-content {
        padding-bottom: 50px;
        padding-top: 55px;
    }
    .contact-text h1 {
        color: #fff;
        font-weight: 500;
        font-size: 40px;
        line-height: 60px;
        padding-left: 15px;
        max-width: 500px;
    }
    .div-form {
        padding-left: 15px;
        padding-top: 50px;
        padding-right: 50px;
    }
    .form-area h5{
        font-size: 20px;
        margin-bottom: 45px;
    }
    .adrs-div{
        flex-direction: column;
    }
    .adrs-bx{
        margin-bottom: 30px;
    }
    .adrs-div .ctn{
        padding-left: 0;
    }
}

